[Twitter]
Consumer Key=
Consumer Secret=
Access Token Key=
Access Token Secret=

[IMAP]
Host=
Port=
Login=
Password=
Use TLS=

[Twitter2IMAP]
Mailbox=Twitter2
Max Fetched=0
Bot Email Address=
My Email Address=
